<ion-view hide-nav-bar="true" class="start-view">

	<ion-content>

		<div class="start-header">
			<div class="logo"></div>
		</div>

		<div id="image-slider">
			<div class="slide">
				<img ng-src="img/front-banner.jpg" alt="">
			</div>
		</div>

		<nav id="main-nav">
			<ul class="nav-row">
				<li><a ng-click="openModal()"><i class="icon ion-document"></i><span>Dokument</span></a></li>
				<li><a href="#/favorites"><i class="icon ion-ios7-star-outline"></i><span>Favoriter</span></a></li>
				<li><a href="#/pages/89"><i class="icon ion-ios7-world-outline"></i><span>Klimatarbete</span></a></li>
			</ul>	
			<ul class="nav-row">
				<li><a href="#/pages/91"><i class="icon ion-iphone"></i><span>Om appen</span></a></li>
				<li><a href="#/pages/93"><i class="icon ion-ios7-information-outline"></i><span>Om oss</span></a></li>
				<li><a href="#/pages/202"><i class="icon ion-ios7-email-outline"></i><span>Kontakta oss</span></a></li>
			</ul>

			<div class="footer">
			  <div class="title">© Arvid Nordquist HAB, 2014</div>
			</div>
		</nav>

		
	</ion-content>

	<div class="leaf-left leaf"></div>
	<div class="leaf-right leaf"></div>
</ion-view>